#main{
    height: 100vh;
    background-color: #e9d3d3;
}
#header {
    font-size: xx-small;
    background: #383333;
    color: #ffffff;
    text-align: center;
}

.info{
    background: linear-gradient(#f71707, #7f4902);
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
#vehicle_info h3{
    background: linear-gradient(#f71707, #7f4902);
    text-align: center;
}

#footer{
    height: 250px;
    background: #383333;
    color: #ffffff;
    text-align: center;
    
}

#footer h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 180px;
    border-bottom: 3px solid #c60f02;
}
